  <div class="browse-box">
     <p>View complete list of candidates and links to their elections.</p> 
     <%= form_tag candidates_path, :method=>:get do %>
        <div class="wrapper">
       <%= select_tag 'f[candidate_last_name_letter_sim][]', options_for_select(('A'..'Z').to_a - ['X'], params[:f] ? params[:f][:candidate_last_name_letter_sim] : nil) %>
       <%= image_submit_tag 'button_arrow.gif', :alt=>'go' %>
        </div>
     <% end %>
    
  </div>

