  <div class="browse-box">
     <p>View complete list of candidates and links to their elections.</p> 
     <%= form_tag candidates_path, :method=>:get do %>
       <%= select_tag 'f[candidate_last_name_letter_facet][]', options_for_select(('A'..'Z').to_a - ['X'], params[:f] ? params[:f][:candidate_last_name_letter_facet] : nil) %>
       <%= image_submit_tag 'button_arrow.gif', :alt=>'go' %>
     <% end %>
    
  </div>

