      <div id="project-progress" class="text2">

  <p class="text5"><strong>Data entry progress </strong>
    </p>
  <p>17877 elections have been made digital or, approximately 60% of Lampi's overall collection. </p>

  <table>
    <tr><td>10386 elections in Version 1.0</td> <td>From the States of: AL AR DE FL GA IL IN KY LA MD ME MI MO MS NC OH RI SC TN VA</td></tr>
    <tr><td>7491 elections in BETA</td> <td>From the States of: CT MA NH NY NJ PA VT</td></tr>

    <tr><td>Last Updated:</td>    <td>11 January 2012</td></tr>
    <tr><td>Next Update:</td>     <td>10 February 2012</td></tr>
    <tr><td>Most Recently Updated:</td>      <td>updated candidate lists; Virginia now in Version 1.0</td></tr>
  </table>

  <p>For more information, go to the <a href="about.html">about page</a>.</p>
</div>

