      <div id="project-progress" class="text2">

  <p class="text5"><strong>Data entry progress </strong>
    </p>
  <p>18040 elections have been made digital or, approximately 60% of Lampi's overall collection. </p>

  <table>
    <tr><td>10514 elections in Version 1.0</td> <td>From the States of: AL AR DE FL GA IL IN KY LA MD ME MI MO MS NC OH RI SC TN VA</td></tr>
    <tr><td>7526 elections in BETA</td> <td>From the States of: CT MA NH NY NJ PA VT</td></tr>

    <tr><td>Last Updated:</td>    <td>20 July 2013</td></tr>
    <tr><td>Next Update:</td>     <td>20 August 2013</td></tr>
    <tr><td>Most Recently Updated:</td>      <td>Massachusetts Governor, Lieutenant Governor, US House Of Representatives, and Electoral College Elections from BETA to Version 1.0</td></tr>
  </table>

  <p>For more information, go to the <a href="about.html">about page</a>.</p>
</div>

