  <div id="main-content-panel" class="text1">
    <div>
      <img alt="Welcome!" src="/assets/title_welcome.gif" />
      <p><span style="font-weight:bold;">A New Nation Votes</span> is a searchable collection of election returns
        from the earliest years of American democracy. The data were compiled by Philip Lampi. 
        The American Antiquarian Society and Tufts University Digital Collections and Archives have mounted it online 
        for you with funding from the National Endowment for the Humanities.
      </p>
    </div>

    <p><br /><br /></p>
    <p><img alt="Browse" src="/assets/title_browse.gif" /></p>

    <div id="browse-boxes"><%= render :partial=>"shared/menu" %></div>

    <br /><p><img alt="Download" src="/assets/title_downloaddata.gif" /></p>
    <p>You may also download the election returns dataset for offline analysis.
             Visit our <a href="download.xq">data download</a> page for details.</p>
  </div>

