@charset "UTF-8";

.numbercount{ color:#666; }
.checklist input[type="checkbox"]{margin-left: -15px; }
/*extended lists*/
.prev_next_links{
text-align:center;}

.sort_change {text-decoration:underline;}
.sort_options{font-size:11px; padding-right: 5px;text-align:right;    }
.close_window{float:right;  width:9px;  padding-left:5px; cursor:pointer; border-left:1px solid #E0E0E0; color:#999; height:25px;}
.close_window a {color:#999; vertical-align:middle;}

.selected {
    padding: 10px;
    color: #666;
}

span.facet-label > a:link.remove {
    background: none;
}

div.facet_pagination.top {
    display:none;
}

.panel-title a {
    text-decoration: none;
}

.facet-count {
    float: right;
}

#facets .top-panel-heading {
  display: none;
}

#facet-panel-collapse {
    cursor: pointer;
}

.facet-label a.facet_select {
    text-decoration: none;
}

#facet-panel-collapse .panel .panel-heading {
    background-color: #F4F4E9;
    padding: 4px 10px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel:first-child {
    border-radius: 5px 5px 0 0;
}

.panel-group .panel:last-child {
    border-radius: 0 0 5px 5px;
}

.panel-group .panel + .panel {
    margin-top: -1px;
}

#facet-panel-collapse .panel .collapse-toggle .toggleIcon {
    float: right;
    margin: -1.8em -0.5em 0 0;
    clear: both;
    height: 100%;
    border-left:1px solid #E0E0E0;
    padding: 0.5em;
}

/* selector from blacklight.css for compatibility */
.btn-danger:hover, .appliedFilter .remove:hover, .btn-danger:focus, .appliedFilter .remove:focus:hover, .appliedFilter .remove:focus:active, .appliedFilter .remove:active, .btn-danger.active, .appliedFilter .active.remove:hover, .appliedFilter .active.remove:active, .open > .btn-danger.dropdown-toggle, .appliedFilter .open > .dropdown-toggle.remove:hover, .appliedFilter .open > .dropdown-toggle.remove:active {
  background-color: #E2EDFE;
  color: #666;
  border-color: #C4DAFE;
  box-shadow: none;
}

.constraint-value {
  background-color: inherit;
  border: none;
}

