<div id="home_text">
  <p>Facets provide a method to intuitively see how to refine your search results.</p>

  <p>Once you have made a search, you can expand the facets on the left to narrow your search by state or territory, year, office, jurisdiction, party, or election type. Once you have expanded the facets, you will see that the available options are listed, with each link followed by a number in parentheses indicating how many elections meet that criterion.</p>

  <p>For example, let's say I search for "Adams." If I make that search today, I will get 571 results. However, if I expand the "State" facet, I see that only eight of those results are from Kentucky. If I select the "Kentucky" facet it will be much easier for me to find the election I'm seeking. Now my elections are updated to show only results from Kentucky.</p>


  <p>A single search can have multiple facets. For example, perhaps I am searching for "Adams" in Pennsylvania. I see that there are 182 elections in the Pennsylvania facet for Adams; that is still a lot of elections to examine. I can select the "Pennsylvania" facet to start narrowing my search, and I will now see under the search box that I have chosen the "Adams" and "Pennsylvania" facets. (I can remove any of these facets from my search at any time by selecting the "x" to the right of the facet name.) Now I have 182 elections to search through. If I expand "Office" in the left-hand navigation, I can narrow it to "Commissioner" -- that still gets me 30 elections -- and now I can expand the year facet in the left-hand navigation bar and narrow it by "1804". At this point there are only two possible choices! For people named "Adams" who ran in Pennsylvania in 1804 for the office of Commissioner, we have only two elections available.</p>
  
  <p>You can even use the facets to browse. From the homepage, expand the facet choices in the left-hand navigation and select the area you'd like to browse. For example, if you expand the "Party" link you can select "Quid" in order to browse through all of the elections which use the "Quid" party identification.</p>
</div>
