<% # main container for facets/limits menu    -%>
<div id="facets" class="facets">
  <div id="menu">

     <ul class="navmenu">
      <% facet_field_names.each do |solr_fname| %>

          <% display_facet = @response.facets.detect { |f| f.name == solr_fname } -%>
          <% if display_facet && display_facet.items.length > 0 %>

              <li>
                <div class="menutop">
                  <a href="#"><%= facet_field_labels[solr_fname] -%></a>

                  <div class="toggle toggle_icon">+</div>
                </div>
                <ul class="submenu">
                  <% paginator =
                             Blacklight::Solr::FacetPaginator.new(display_facet.items,
                                                                  :limit => facet_limit_for(solr_fname))
                  %>
                  <% paginator.items.each do |item| -%>
                      <li>
                        <% if facet_in_params?(solr_fname, item.value) %>
                            <%= render_selected_facet_value(solr_fname, item) %>
                        <% else %>
                            <% if item.value.blank? %>
                                <%#= render_facet_value(solr_fname, ["Unknown",item.hits]) %>
                            <% else %>
                                <%= render_facet_value(solr_fname, item) %>
                            <% end %>
                        <% end -%>
                      </li>
                  <% end %>

                  <% if (paginator.has_next?) %>
                      <% #<a data-toggle="modal" href="#myModal" class="more_facets_link">more »</a> -%>
                      <li class="more_facets_link"><%= link_to('more »', params.merge(:id => solr_fname, :action => "facet"), :'data-toggle' => "modal", :class => "more_facets_link") %></li>
                  <% end %>

                </ul>
              </li>
          <% end %>


      <% end %>
    </ul>
  </div>
</div>


<script type="text/javascript">
    /// collapse all facets by default if js enabled
    $('.toggle:not(.toggle-close)').addClass('toggle-closed');//.parents('li').children('ul').hide();
    $('.menutop:not(.toggle-close)').addClass('toggle-closed');//.parents('li').children('ul').hide();
    $('.toggle:not(.toggle-close)').parents('li').children('ul').hide();

    if ($.browser.msie) {
        $('#menu ul.navmenu li:last-child .menutop').css('border-bottom', '1px solid #CCC');
    }

    $('.toggle,.menutop').click(function () {
        var facet_header = $(this);
        if (facet_header.hasClass('toggle-open')) {
            facet_header.closest('.menutop').removeClass('menutop-open').addClass('menutop-closed');
            facet_header.removeClass('toggle-open').addClass('toggle-closed').parents('li').children('ul').slideUp(250);
            facet_header.parent().find('.toggle_icon').empty('').append('+');
        }
        else {
            facet_header.closest('.menutop').removeClass('menutop-closed').addClass('menutop-open');
            facet_header.removeClass('toggle-closed').addClass('toggle-open').parents('li').children('ul').slideDown(250);
            facet_header.parent().find('.toggle_icon').empty('').append('&ndash;');
        }
    })

</script>


