<div id="home_text" role="main">
  <h2><%=image_tag 'title_welcome.gif', :alt=>"Welcome!" %></h2>
  <p><span style="font-weight:bold;">A New Nation Votes</span> is a searchable collection of election returns
      from the earliest years of American democracy. The data were compiled by Philip Lampi. 
      The American Antiquarian Society and Tufts University Digital Collections and Archives have mounted it online 
      for you with funding from the National Endowment for the Humanities.
  </p>

<h2 class="hidden">Search</h2>
<p><%= render :partial=>'search_form' %></p>

<h2>Browse candidates</h2>
  <%= render :partial=>'/shared/candidate_by_name_widget' %>

<h2>Download</h2>
  <p>You may also <a href="http://dl.tufts.edu/catalog?f[names_facet][]=American+Antiquarian+Society&f[object_type_facet][]=Generic+Objects">download the election returns dataset</a> for offline analysis, including both state-by state records and the authority records.
  </p>

</div>

