$gray: #666666;
$blue: #243E61;
@mixin text1 {
  color: $blue;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}
@mixin text2 {
    color: $blue;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
@mixin text8 {
  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}
@mixin link1 {
  color: $blue;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  text-decoration: underline;
}
@mixin link4 {
  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

h3.contract {
  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

table.election-results-table {
    th {
      font-weight: normal;
      border: none;
      padding: 0;
      text-align: left;
    }
    th, td {
      min-width: 4em;
      padding-left: 1em;
      padding-right: 1em;
      vertical-align: top;
    }
    .vote {
      text-align: right;
    }
    thead {
      background-color: #ECECDA;
      tr.candidate-row {
        @include text1;
        border-spacing: 10px;
        th,td {
          font-weight: bold;
          a {
            color: $blue;
          }
        }
      }
      tr.affiliation-row {
      }
      tr.overview-row {
        th,td {
          @include text1;
          font-weight: bold;
        }
      }
    }
    tbody {
      @include text8;
      tr.sub-unit-row0 {
        background-color: #ECECDA;
        margin-top: 20px;
        th,td {
          border-top: medium solid #FFFFFF;
        }
      }
      tr.sub-unit-row1 {
        th.sub-unit-label1,td.sub-unit-label1 {
         padding-left: 2em;
        }
      }
      th.sub-unit-row2,tr.sub-unit-row2 {
        td.sub-unit-label2 {
         padding-left: 4em;
        }
      }
      th.sub-unit-alt1-0,tr.sub-unit-alt1-0 {
        background-color: #F1F1F1;
      }
      th.sub-unit-alt1-1,tr.sub-unit-alt1-1 {
        background-color: #E4E4E4;
      }
    }
}
#content {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 1em;
}
.pageEntriesInfo {
  border-bottom-width: 1px;
}


.details {
    margin-left: 30px;
}
dl.defList {
  dt {
    width: auto;
    display: inline;
    font-weight: bold;
    @include text1;
    padding: 0;
  }
  dd {
    @include text1;
    padding: 0 2px;
  }
}

#document {
  h1 {
    @include text8;
    font-weight: normal;
    padding: 0;
  }
  h2 {
    @include text2;
    margin: 20em 0 0;
  }
}

h2 {
  color: $gray;
  font-family: "Lucida Bright", serif;
}

a:link, a:visited, a:active {
  @include link4;
  border-bottom: 0 none;

}

#electionNotes, #electionReferences {
  margin-top: 2em;
  @include text2;
}

nav {
  a:link, a:visited, a:active {
    @include link1;
  }
  margin-bottom: 20px;
}

figcaption {
  width: 400px;
  @include text2;
  font-style: italic;
}

#record-message {
    @include text2;
    margin-top: 3em;
}

#footer-links-table {
  tr:first-child {
    height: 21px;
  }
  tr {
    height: 32px;
  }
  td {
    text-align: center;
    padding: 1px;
  }
}

h3.contract {
  color: $gray;
  size: 12pt;
  font-weight: normal;

}
h3.contract:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
