$gray: #666666;
$blue: #243E61;
@mixin text1 {
  color: $blue;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}
@mixin text2 {
    color: $blue;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
@mixin text8 {
  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}
@mixin link1 {
  color: $blue;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  text-decoration: underline;
}
@mixin link4 {
/*  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: underline;*/
}

h3.contract {
  color: $gray;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

table.election-results-table {
    th {
      font-weight: normal;
      border: none;
      padding: 0;
      text-align: left;
    }
    th, td {
      min-width: 4em;
      padding-left: 1em;
      padding-right: 1em;
      vertical-align: top;
    }
    .vote {
      text-align: right;
    }
    thead {
      background-color: #ECECDA;
      tr.candidate-row {
        @include text1;
        border-spacing: 10px;
        th,td {
          font-weight: bold;
          a {
            color: $blue;
          }
        }
      }
      tr.affiliation-row {
      }
      tr.overview-row {
        th,td {
          @include text1;
          font-weight: bold;
        }
      }
    }
    tbody {
      @include text8;
      tr.sub-unit-row0 {
        background-color: #ECECDA;
        margin-top: 20px;
        th,td {
          border-top: medium solid #FFFFFF;
        }
      }
      tr.sub-unit-row1 {
        th.sub-unit-label1,td.sub-unit-label1 {
         padding-left: 2em;
        }
      }
      th.sub-unit-row2,tr.sub-unit-row2 {
        td.sub-unit-label2 {
         padding-left: 4em;
        }
      }
      th.sub-unit-alt1-0,tr.sub-unit-alt1-0 {
        background-color: #F1F1F1;
      }
      th.sub-unit-alt1-1,tr.sub-unit-alt1-1 {
        background-color: #E4E4E4;
      }
    }
}
#content {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 1em;
}
.pageEntriesInfo {
  border-bottom-width: 1px;
}


.details {
    margin-left: 30px;
    margin-bottom: 15px;
}
dl.defList {
  dt {
    width: auto;
    display: inline;
    font-weight: bold;
    @include text1;
    padding: 0;
  }
  dd {
    @include text1;
    padding: 0 2px;
  }
}

#document {
  h1 {
    @include text8;
    font-weight: normal;
    padding-top: 15px;
  }
}

h2 {
  color: $gray;
  font-family: "Lucida Bright", serif;
}

a:link, a:visited, a:active {
  @include link4;
  border-bottom: 0 none;

}

#electionNotes, #electionReferences {
  margin-top: 2em;
  @include text2;
}

.pagination {
  a:link, a:visited, a:active {
    @include link1;
  }
  margin: 0px;
  border-radius: 0px;
}

figcaption {
  width: 400px;
  @include text2;
  font-style: italic;
}

#record-message {
    @include text2;
    margin-top: 3em;
}

#footer-links-table {
  tr:first-child {
    height: 21px;
  }
  tr {
    height: 32px;
  }
  td {
    text-align: center;
    padding: 1px;
  }
}

h3.contract {
  color: $gray;
  size: 12pt;
  font-weight: normal;

}
h3.contract:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.wrapper {
  display: inline-block;
  height: 25px;
}
h3.index_title {
  font-size: 12px;
}
a:link, a:visited, a:active {
color: #666666;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: underline;
border-bottom: 0 none;
}

div.yui-u {
  margin-bottom: 10px;
}


a.constraint-value
{
  background: none;

}

a.btn-default {
  border: 0px solid transparent;
}

.sort-dropdown {
  float:left;
}

.dropdown-menu > li > a {
  text-decoration: none;
}

.btn a:link, a:visited, a:active {
  text-decoration: none;
}

.pagination {
  width: 630px;
  text-align: center;
}
#pagination_container h2 {
  display: none;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

span.page.current {
background: none repeat scroll 0 0 #2e4f81;
border: 1px solid #2e4f81;
color: #FFF;
font-weight: 700;
font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
}

h2 {
color: #666666;
font-family: "Lucida Bright", serif;
font-size: 123.1%;
}

h1 {
  margin-top: 15px;
}

#f_candidate_last_name_letter_sim_ {
  border: 1px outset buttonface;
  vertical-align: top;
  margin-top: 3px;
}
#search_field {

  border: 1px outset buttonface;
}

a:link.constraint-value {
  text-decoration: none;
}

.facet-label.glyphicon {
  background: red;
}
