@charset "UTF-8";

.numbercount{ color:#666; }
.checklist input[type="checkbox"]{margin-left: -15px; }
/*extended lists*/
.prev_next_links{
text-align:center;}

.sort_change {text-decoration:underline;}
.sort_options{font-size:11px; padding-right: 5px;text-align:right;    }
.close_window{float:right;  width:9px;  padding-left:5px; cursor:pointer; border-left:1px solid #E0E0E0; color:#999; height:25px;}
.close_window a {color:#999; vertical-align:middle;}

.selected {
    padding: 10px;
    color: #666;
}

/* Don't want the above padding in facets labels */
.facet-label span.selected, span.selected.facet-count {
    padding: 0px;
}

span.facet-label > a:link.remove {
    background: none;
}

span.facets-header > a:link.remove {
    background: none;
    display: none;
}

div.facet_pagination.top {
    display:none;
}

.card-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.facet-count {
  float: right;
}

#facets {
  box-sizing: border-box;
}

card-header *::before,*::after {
   box-sizing:inherit;
}

#facets .facets-header {
  display: none;
}

#facet-panel-collapse {
    cursor: pointer;
}

.facet-label a.facet_select {
    text-decoration: none;
}

#facet-panel-collapse .card .card-header .button {
    background-color: #F4F4E9;
    padding: 4px 10px;
}

#facet-panel-collapse .card {
  margin-bottom: 0;
  border-radius: 0;
}

#facet-panel-collapse .card:first-child {
    border-radius: 5px 5px 0 0;
}

#facet-panel-collapse .card:last-child {
    border-radius: 0 0 5px 5px;
}

#facet-panel-collapse .card + .card {
    margin-top: 0px;
}

#facet-panel-collapse .panel .collapse-toggle .toggleIcon {
    float: right;
    margin: -1.8em -0.5em 0 0;
    clear: both;
    height: 100%;
    border-left:1px solid #E0E0E0;
    padding: 0.5em;
}

/* selector from blacklight.css for compatibility */
.btn-danger:hover, .applied-filter .remove:hover, .btn-danger:focus, .applied-filter .remove:focus:hover, .applied-filter .remove:focus:active, .applied-filter .remove:active, .btn-danger.active, .applied-filter .active.remove:hover, .applied-filter .active.remove:active, .open > .btn-danger.dropdown-toggle, .applied-filter .open > .dropdown-toggle.remove:hover, .applied-filter .open > .dropdown-toggle.remove:active {
  background-color: #E2EDFE;
  color: #666;
  border-color: #C4DAFE;
  box-shadow: none;
}

.constraint-value {
  background-color: inherit;
  border: none;
}
